.button {
  font-family: "Inter", serif;
  padding: 16px 75px;
  border: none;
  background-color: #355675;
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50px;
  margin-bottom: 68px;
}

.button:hover {
  background-color: #2c4862;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: all 250ms ease-in-out;
}
