.quantityCount {
  display: inline-flex;
  background-color: rgb(236, 236, 236);
  padding: 10px 10px;
  align-items: center;
  border-radius: 5px;
}

.quantityCount p {
  font-size: 18px;
  color: white;
  margin: 0;
}

.quantityCount .quantity {
  text-align: center;
  width: 40px;
  color: white;
  font-weight: 700;
}

.quantityCount .DecreBtn,
.quantityCount .IncreBtn {
  padding: 5px;
  cursor: pointer;
  font-size: 22px !important;
  font-weight: 700;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #355675;
}

.quantityCount .DecreBtn:hover,
.quantityCount .IncreBtn:hover {
  background-color: rgb(226, 226, 226);
}
