.productCard {
  box-shadow: 8px 8px 8px rgb(0 0 0 / 33%);
  margin-bottom: 70px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
  max-width: 350px;
}

.imageContainer {
  max-width: 100%;
  height: 269px;
}

.imageContainer img {
  width: 100%;
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
}

section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-bottom: 66px;
}

.productCardInfo {
  max-width: 100%;
  background-color: #9478a8;
  height: 177px;
  margin-top: 80px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
}

.productCard h4,
.productCard h5,
.productCard p {
  font-family: "Be Vietnam Pro", serif;
  color: white;
  padding-left: 16px;
  text-align: start;
}

.productCard h4 {
  font-size: 24px;
  line-height: 30.36px;
  font-weight: 100;
  margin-bottom: 7px;
  padding-top: 50px;
}

.productCard h5 {
  font-size: 15px;
  font-weight: 500;
  line-height: 18.98px;
  margin-bottom: 12px;
}

.productCard p {
  font-size: 24px;
  font-weight: 300;
  line-height: 30.36px;
  padding-bottom: 20px;
}
