.addToCartBtn {
  font-size: 18px;
  background-color: #355675;
  color: white;
  display: flex;
  gap: 10px;
  border-radius: 5px;
  flex-direction: row !important;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addToCartBtn button {
  font-size: 16px;
  color: white;
}

.addToCartBtn:hover {
  background-color: #355675;
  transition: all 180ms ease-in-out;
}

@media screen and (max-width: 800px) {
  .addToCartBtn {
    width: 30%;
  }
}
