.formContainer {
  max-width: 100%;
  background-color: white;
}

form {
  background-color: white;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
}

input,
textarea {
  font-family: "Advent Pro", serif;
  padding-left: 20px;
  border: 1px solid #355675;
  width: 100%;
  border-radius: 25px;
  margin-bottom: 37px;
  font-size: 24px;
  font-weight: 200;
  font-style: italic;
  line-height: 28px;
}

input {
  height: 57px;
}

textarea {
  min-height: 167px;
  padding-top: 20px;
}

.applicationBtn {
  background-color: #9478a8 !important;
  height: 57px;
  max-width: 100%;
  padding: 0px 66px;
  margin-bottom: 0;
}

/* Apply message */
.applyMessage {
  background-image: url(../../assets/hero-member.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.applyMessage h2 {
  font-family: "Square Peg", serif;
  font-size: 88px;
  font-weight: 400;
  line-height: 116px;
  color: white;
  margin-top: 258px;
  margin-bottom: 40px;
}

.applyMessage p {
  font-family: "Quicksand", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 40px;
}
