.faq {
  background-color: white;
  padding-bottom: 33px;
}

.faqContainer {
  width: 301px;
  height: fit-content;
  border: 1px solid #355675;
  border-radius: 25px;
  margin-top: 33px;
  position: relative;
}

.faqContainer p {
  font-family: "Be Vietnam Pro", serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20.24px;
  padding-left: 20px;
  text-align: start;
  color: #355675;
}

.question {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 70px;
}

.question p,
.arrowDown {
  margin: 20px 0;
}

.answerOpen p {
  margin-right: 95px;
  margin-bottom: 20px;
}

.faqContainer .answer {
  display: none;
  position: relative;
  padding: 20px;
}

.faqContainer .answerOpen {
  display: grid;
}

.faqContainer .answerOpen span {
  margin: 0 0 12px 20px;
  width: 90%;
  height: 1px;
  background-color: #355675;
  z-index: 1;
}

.arrowDown {
  font-size: 50px;
  color: #355675;
  justify-self: end;
  transition: transform 300ms ease;
}

.arrowDown.openArrow {
  transform: rotate(180deg);
}
